#ifndef __STATEMACHINE_H
#define __STATEMACHINE_H

#include <stdint.h>
#include "event_mgr.h"

{% for region in behavior.regions %}
#define REGION_{{ region.name | upper }} {{ loop.index0 }}
{% endfor %}

void statemachine_init(void);
void statemachine_process(event_t *evt);
#endif