# Python virtual environment
venv/

# Python Cache
__pycache__/
*.pyc
*.venv
anaconda3/

# Generated output
output/

# Compiled files
*.o
*.bin
*.hex
*.elf
*.map
*.out
build/
Debug/
Release/

# IDE / editor files
.vscode/
.vscode/.DS_Store
.vscode/*.log
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db