#ifndef __DRV_{{ peripheral.name | upper }}_H
#define __DRV_{{ peripheral.name | upper }}_H

#ifdef TEST
#include "mock_hal.h"
#else
#include "stm32g0xx_hal.h"
#endif
#include "uart_api.h"
#include "gpio_api.h"

void rs485_init(uart_handle_t uart, gpio_handle_t de_gpio);
void rs485_set_tx(void);
void rs485_set_rx(void);
void rs485_send(uint8_t *data, uint16_t len);
void rs485_recv(uint8_t *data, uint16_t len, uint32_t timeout);

#endif
