#ifndef __DRV_{{ peripheral.name | upper }}_H
#define __DRV_{{ peripheral.name | upper }}_H
#include "stm32g0xx_hal.h"

void PWM_Init(void);
void PWM_SetDuty(uint32_t duty);
void PWM_SetFreq(uint32_t freq);
#endif