{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Cortex Debug (OpenOCD)",
            "type": "cortex-debug",
            "request": "launch",
            "servertype": "openocd",
            "cwd": "${workspaceRoot}",
            "executable": "${workspaceRoot}/build/{{ project_name }}.elf",
            "configFiles": [
                "interface/cmsis-dap.cfg",
                "target/stm32g0x.cfg"
            ],
            "openOCDPreConfigLaunchCommands": [
                "adapter speed 1000"
            ],
            "svdFile": "",
            "runToEntryPoint": "main",
            "preLaunchTask": "build",
            "postLaunchCommands": [],
            "showDevDebugOutput": "raw"
        }
    ]
}
