{
    "cmake.sourceDirectory": "${workspaceFolder}",
    "cmake.buildDirectory": "${workspaceFolder}/build",
    "cmake.configureArgs": [
        "-DCMAKE_TOOLCHAIN_FILE=toolchain.cmake",
        "-G", "Ninja"
    ],
    "cmake.generator": "Ninja",
    "cdt.debug.sourceHighlighting": false
}
