#include "drv_rtc.h"
#include "FreeRTOS.h"
#include "task.h"
#include "queue.h"

/* Private variables */
static RTC_HandleTypeDef hrtc;

/* Software timer node (linked list, ticked by RTC wakeup) */
typedef struct rtc_timer {
    uint32_t            period_ms;          // original period (ms)
    uint32_t            remaining_ms;       // current countdown (ms)
    uint8_t             mode;
    rtc_timer_cb_t      callback;
    void                *arg;
    struct rtc_timer    *next;
} rtc_timer_t;

static rtc_timer_t *timer_head = NULL;
static QueueHandle_t timer_queue = NULL;    // for deferred callbacks

/* Forward declarations */
static void RTC_WakeUp_Config(void);
static void process_timers_from_isr(void);

/* ---------- RTC Initialization ---------- */
void RTC_Init(void)
{
    /* Enable RTC clock and backup access */
    __HAL_RCC_RTC_ENABLE();
    HAL_PWR_EnableBkUpAccess();

    /* Configure LSE */
    RCC_OscInitTypeDef RCC_OscInitStruct = {0};
    RCC_OscInitStruct.OscillatorType = RCC_OSCILLATORTYPE_LSE;
    RCC_OscInitStruct.LSEState = RCC_LSE_ON;
    if (HAL_RCC_OscConfig(&RCC_OscInitStruct) != HAL_OK)
    {
        /* LSE failed, fallback to LSI */
        RCC_OscInitStruct.LSEState = RCC_LSE_OFF;
        RCC_OscInitStruct.OscillatorType = RCC_OSCILLATORTYPE_LSI;
        RCC_OscInitStruct.LSIState = RCC_LSI_ON;
        HAL_RCC_OscConfig(&RCC_OscInitStruct);
    }

    /* Select LSE as RTC clock */
    RCC_PeriphCLKInitTypeDef PeriphClkInit = {0};
    PeriphClkInit.PeriphClockSelection = RCC_PERIPHCLK_RTC;
    PeriphClkInit.RTCClockSelection = RCC_RTCCLKSOURCE_LSE;
    HAL_RCCEx_PeriphCLKConfig(&PeriphClkInit);

    /* Initialize RTC */
    hrtc.Instance = RTC;
    hrtc.Init.HourFormat = RTC_HOURFORMAT_24;
    hrtc.Init.AsynchPrediv = 127;   // 128 factor
    hrtc.Init.SynchPrediv = 255;    // 256 factor -> 1Hz ck_spre
    hrtc.Init.OutPut = RTC_OUTPUT_DISABLE;
    if (HAL_RTC_Init(&hrtc) != HAL_OK) while(1);

    /* Configure Wake-Up timer (generates interrupt every 100ms by default) */
    RTC_WakeUp_Config();

    /* Enable RTC WakeUp interrupt */
    HAL_NVIC_SetPriority(RTC_WKUP_IRQn, 5, 0);
    HAL_NVIC_EnableIRQ(RTC_WKUP_IRQn);

    /* Create queue for deferred callbacks (max 10 pending) */
    timer_queue = xQueueCreate(10, sizeof(rtc_timer_cb_t));
}

/* ---------- Wake-Up timer configuration ---------- */
static void RTC_WakeUp_Config(void)
{
    /* WakeUp clock = RTCCLK/16 = 2048 Hz */
    /* To get ~100ms: autoreload = 2048 / 10 = 204 */
    HAL_RTCEx_SetWakeUpTimer_IT(&hrtc, 204, RTC_WAKEUPCLOCK_RTCCLK_DIV16);
}

/* ---------- Wall Clock ---------- */
void RTC_GetTime(rtc_time_t *time)
{
    RTC_TimeTypeDef sTime = {0};
    RTC_DateTypeDef sDate = {0};
    HAL_RTC_GetTime(&hrtc, &sTime, RTC_FORMAT_BIN);
    HAL_RTC_GetDate(&hrtc, &sDate, RTC_FORMAT_BIN);
    time->sec   = sTime.Seconds;
    time->min   = sTime.Minutes;
    time->hour  = sTime.Hours;
    time->day   = sDate.Date;
    time->month = sDate.Month;
    time->year  = sDate.Year;
}

void RTC_SetTime(rtc_time_t *time)
{
    RTC_TimeTypeDef sTime = {0};
    RTC_DateTypeDef sDate = {0};
    sTime.Seconds = time->sec;
    sTime.Minutes = time->min;
    sTime.Hours   = time->hour;
    sDate.Date    = time->day;
    sDate.Month   = time->month;
    sDate.Year    = time->year;
    HAL_RTC_SetTime(&hrtc, &sTime, RTC_FORMAT_BIN);
    HAL_RTC_SetDate(&hrtc, &sDate, RTC_FORMAT_BIN);
}

/* ---------- Drift compensation (simple PPM adjustment) ---------- */
void RTC_AdjustDrift(int16_t ppm)
{
    HAL_RTCEx_SetSmoothCalib(&hrtc,
                             RTC_SMOOTHCALIB_PERIOD_32SEC,
                             RTC_SMOOTHCALIB_PLUSPULSES_RESET,
                             (uint32_t)ppm);
}

/* ---------- Software Timer Engine ---------- */
rtc_timer_handle_t RTC_TimerCreate(uint32_t period_ms, uint8_t mode,
                                   rtc_timer_cb_t callback, void *arg)
{
    rtc_timer_t *t = pvPortMalloc(sizeof(rtc_timer_t));
    if (!t) return NULL;
    t->period_ms = period_ms;
    t->remaining_ms = period_ms;
    t->mode = mode;
    t->callback = callback;
    t->arg = arg;
    t->next = NULL;

    /* Insert into list (simple tail insertion) */
    taskENTER_CRITICAL();
    if (!timer_head) {
        timer_head = t;
    } else {
        rtc_timer_t *p = timer_head;
        while (p->next) p = p->next;
        p->next = t;
    }
    taskEXIT_CRITICAL();
    return (rtc_timer_handle_t)t;
}

void RTC_TimerStart(rtc_timer_handle_t handle)
{
    rtc_timer_t *t = (rtc_timer_t *)handle;
    taskENTER_CRITICAL();
    t->remaining_ms = t->period_ms;   // reset countdown
    taskEXIT_CRITICAL();
}

void RTC_TimerStop(rtc_timer_handle_t handle)
{
    rtc_timer_t *t = (rtc_timer_handle_t)handle;
    taskENTER_CRITICAL();
    t->remaining_ms = 0;   // will be ignored
    taskEXIT_CRITICAL();
}

void RTC_TimerDelete(rtc_timer_handle_t handle)
{
    rtc_timer_t *t = (rtc_timer_t *)handle;
    taskENTER_CRITICAL();
    if (timer_head == t) {
        timer_head = t->next;
    } else {
        rtc_timer_t *p = timer_head;
        while (p && p->next != t) p = p->next;
        if (p) p->next = t->next;
    }
    taskEXIT_CRITICAL();
    vPortFree(t);
}

/* Process timers (called from ISR via deferred queue) */
static void process_timers(void *param)
{
    rtc_timer_cb_t cb;
    while (xQueueReceive(timer_queue, &cb, 0) == pdTRUE) {
        cb(NULL);   // arg already embedded in timer?
        /* Note: arg not passed through queue, we'll store in timer and pass */
    }
}

/* ---------- RTC WakeUp ISR ---------- */
void RTC_WKUP_IRQHandler(void)
{
    HAL_RTCEx_WakeUpTimerIRQHandler(&hrtc);  // clear flags

    BaseType_t xHigherPriorityTaskWoken = pdFALSE;

    /* Traverse timer list and update remaining counts */
    rtc_timer_t *t = timer_head;
    while (t) {
        if (t->remaining_ms > 0) {
            if (t->remaining_ms <= 100) {   // ~100ms resolution
                t->remaining_ms = 0;
                /* Timer expired: schedule callback */
                if (t->callback) {
                    /* Send callback pointer to queue */
                    xQueueSendFromISR(timer_queue, &t->callback, &xHigherPriorityTaskWoken);
                }
                if (t->mode == RTC_TIMER_MODE_PERIODIC) {
                    t->remaining_ms = t->period_ms;
                }
            } else {
                t->remaining_ms -= 100;
            }
        }
        t = t->next;
    }

    portYIELD_FROM_ISR(xHigherPriorityTaskWoken);
}

/* Timer processing task (to be created by main.c) */
void RTC_TimerServiceTask(void *pvParameters)
{
    while (1) {
        rtc_timer_cb_t cb;
        if (xQueueReceive(timer_queue, &cb, portMAX_DELAY) == pdTRUE) {
            cb(NULL);   // callback is invoked in task context
        }
    }
}